<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="Club.Web.Framework.ViewEngines.Razor.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Club.Admin.Models.Affiliates" />
        <add namespace="Club.Admin.Models.Blogs" />
        <add namespace="Club.Admin.Models.Catalog" />
        <add namespace="Club.Admin.Models.Cms" />
        <add namespace="Club.Admin.Models.Common" />
        <add namespace="Club.Admin.Models.Customers" />
        <add namespace="Club.Admin.Models.Directory" />
        <add namespace="Club.Admin.Models.Discounts" />
        <add namespace="Club.Admin.Models.ExternalAuthentication" />
        <add namespace="Club.Admin.Models.Forums" />
        <add namespace="Club.Admin.Models.Home" />
        <add namespace="Club.Admin.Models.Localization" />
        <add namespace="Club.Admin.Models.Logging" />
        <add namespace="Club.Admin.Models.Messages" />
        <add namespace="Club.Admin.Models.News" />
        <add namespace="Club.Admin.Models.Orders" />
        <add namespace="Club.Admin.Models.Payments" />
        <add namespace="Club.Admin.Models.Plugins" />
        <add namespace="Club.Admin.Models.Polls" />
        <add namespace="Club.Admin.Models.Security" />
        <add namespace="Club.Admin.Models.Settings" />
        <add namespace="Club.Admin.Models.Shipping" />
        <add namespace="Club.Admin.Models.ShoppingCart" />
        <add namespace="Club.Admin.Models.Stores" />
        <add namespace="Club.Admin.Models.Tasks" />
        <add namespace="Club.Admin.Models.Tax" />
        <add namespace="Club.Admin.Models.Templates" />
        <add namespace="Club.Admin.Models.Topics" />
        <add namespace="Club.Admin.Models.Vendors" />
        <add namespace="Club.Core.Events" />
        <add namespace="Club.Core.Infrastructure" />
        <add namespace="Club.Services.Events" />
        <add namespace="Club.Web.Framework" />
        <add namespace="Club.Web.Framework.Events" />
        <add namespace="Club.Web.Framework.Security.Captcha" />
        <add namespace="Club.Web.Framework.Security.Honeypot" />
        <add namespace="Club.Web.Framework.UI" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="*" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>

    <!--
        Enabling request validation in view pages would cause validation to occur
        after the input has already been processed by the controller. By default
        MVC performs request validation before a controller processes the input.
        To change this behavior apply the ValidateInputAttribute to a
        controller or action.
    -->
    <pages
        validateRequest="false"
        pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
        userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <controls>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
